---
title: "Contact Fleur de Lis Salon | Family Hair Salon in Port Orange, FL"
description: "Get in touch with Fleur de Lis Salon, a family-owned hair salon serving Port Orange for 25 years. Call or visit us today to book appointments for haircolor, highlights, extensions, cuts, and more."
permalink: "/contact/"
---

{% extends "layouts/base.html" %}

{% block head %}
   
    <link rel="preload" as="image" href="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 640, height: 600 }) | avif %}"/>
    <link rel="preload" as="image" href="{% getUrl "/assets/images/construction.jpg" | resize({ width: 576, height: 640 }) | avif %}"/>
{% endblock %}

{% block body %}




       {% include 'components/contact_form.html' %}
          {% include 'sections/testimonial.html' %}

{% endblock %}