---
title: 'Hair Service Pricing | Cuts, Color & Extensions – Fleur de Lis Salon Port Orange'
description: 'View hair service pricing at Fleur de Lis Salon in Port Orange, FL. Affordable rates for haircuts, color, highlights, extensions, keratin treatments & bridal styling.'
permalink: "/pricing/"
tags: "sitemap" # content/content.json will make sure that all pages in content/ are marked with a "sitemap" tag, for automatic sitemap generation. As index.html is not in content/, we need to add it here to ensure the root page is included in the sitemap generation
---

{% extends "layouts/base.html" %}

{% block head %}
    {% include "components/home-schema.html" %}
    {% include "components/faq-schema.html" %}
{% endblock %}

{% block body %}

{% include 'components/pricing.html' %}








{% endblock %}